h1 {
  font-family: Verdana;
  font-weight: bold;
  font-size: 6vw;
  color: #191970;
  text-align: center;
  text-shadow: 2vw;

}

p {
  font-family: Verdana;
  font-size: 3vw;
  color: #191970;
  text-align: center
}