h1 {
  font-family: Verdana;
  font-weight: bold;
  font-size: 6vw;
  color: #191970;
  text-align: center;
  text-shadow: 2vw;

}

p {
  font-family: Verdana;
  font-size: 3vw;
  color: #191970;
  text-align: center
}
DIV {
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid:
    'header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer';
    
}